.data-form ul { margin: 0 auto; }
.data-form ul li { text-align: left; display: block; margin-bottom: 10px; }
.data-form label { text-align: left; margin-right: 10px; }
.data-form .formField { display: inline-block; float: right;  width: 150px; }
.data-form #radio { width: 146px; }
